/* realizo el css para todo el container del proyecto */
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f3f5fc;
}

/* titulo del projecto */
.encriptar h1 {
  position: relative;
  width: 42%;
  height: 60%;
  left: 12%;
  top: 15%;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 150%;
  background-color: #f3f5fc;

}

/* css para el contariner de text */
.texto {
  position: absolute;
  width: 42%;
  height: 50%;
  left: 10%;
  top: 15%;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  background-color: #f3f5fc;
}

.texto::placeholder {
  color: #0a3871;
}

.texto:focus,
.texto:active {
  border: none;
  outline: none;
}

.terminos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 80%;
  left: 10%;
  /* tengo que sumar el tex con la posicion que quiero  */
  top: 65%;
}

.terminos p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #3f454b;
  opacity: 0.9;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1% 0;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 75%;
}

.botones-chicos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1% 0;
  position: absolute;
  width: 80%;
  left: 39%;
  top: 65%;
}

.btn-encriptar {
  align-items: center;
  justify-content: center;
  padding: 1.5%;
  margin: 0.5%;
  gap: 8px;
  width: 18%;
  background-color: #0a3871;
  border-radius: 20px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

.btn-desencriptar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1.5%;
  margin: 0.5%;
  gap: 8px;
  width: 18%;
  background: #d8dfe8;
  border: 2px solid #0a3871;
  border-radius: 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #0a3871;
}

.btn-copiar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1%;
  margin: 0.2%;
  gap: 8px;
  width: 5%;
  background: #b9bec4;
  border: 1px solid #000000;
  border-radius: 4px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 1px;
  text-align: center;
  color: #0a3871;
}

.btn-pegar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1%;
  margin: 0.2%;
  gap: 8px;
  width: 5%;
  background: #b9bec4;
  border: 1px solid #000000;
  border-radius: 4px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 1px;
  text-align: center;
  color: #0a3871;
}

.btn-borrar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1%;
  margin: 0.2%;
  gap: 8px;
  width: 5%;
  background: #b9bec4;
  border: 1px solid #000000;
  border-radius: 4px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 1px;
  text-align: center;
  color: #0a3871;
}


.btn-desencriptar:hover,
.btn-encriptar:hover {
  margin: 0.3%;
  width: 19%;
  padding: 1.3%;
}

.btn-copiar:hover,
.btn-pegar:hover,
.btn-borrar:hover {
  margin: 0.3%;
  width: 6%;
  padding: 1.8%;

}

.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 80%;
  left: 60%;
  top: 5%;
  background: #fff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.mensaje-encriptado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 100%;
  top: 65%;
  text-align: center;
}

.mensaje-encriptado h2 {
  width: 60%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
}

.mensaje-encriptado p {
  width: 80%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
}

.encriptado img {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 15%;
}

/* Responsive design */
@media (max-width: 57.5em) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .encriptar {
    width: 100%;
  }

  .texto {
    width: 84%;
    height: 50%;
    border: groove;
    border-color: #0a3871;
    text-align: center;
    left: 5%;
    top: 1%;
  }

  .terminos {
    width: 80%;
    top: 52%;
  }

  .terminos p {
    text-align: center;
    font-size: 16px;
  }


  .botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 59%;
  }

  .botones-chicos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2%;
    position: absolute;
    width: 80%;
    left: 7%;
    top: 65%;

  }


  .btn-encriptar,
  .btn-desencriptar {
    width: 48%;
    border-radius: 16px;
  }

  .btn-copiar,
  .btn-pegar,
  .btn-borrar {
    width: 35%;
    border-radius: 3px;

    font-size: 13px;
    line-height: 10px;
  }

  .btn-encriptar:hover,
  .btn-desencriptar:hover {
    margin: 0.3%;
    width: 47.5%;
    padding: 1.8%;
  }

  .encriptado {
    width: 80%;
    height: 15%;
    left: 10%;
    top: 73%;
  }

  .mensaje-encriptado {
    width: 100%;
    top: 1%;
  }

  .encriptado img {
    top: 0;
    display: none;
    visibility: hidden;
  }
}